[data-title]{
    position: relative;
}

[data-title]:after{
	content:attr(data-title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	top:100%;
	white-space:nowrap;
	transition:0.25s linear opacity;
}
[data-title]:hover:after{
	left:5px;
    opacity: 1;
    z-index: 1;
}